# Environment
.env
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebooks
.ipynb_checkpoints

# Data
# We might want to track sample data, but typically ignore raw/processed sets.
data/raw/*
data/processed/*
data/external/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db